<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.otitan.dclz">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3EwhfxFaWdFtK3YUMGdwesdA0QVk9NgZ" />

        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote"/>

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"> <!-- 限制此页面数竖屏显示 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主页 -->
        <activity android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- 事件详情 -->
        <activity android:name=".activity.MonitorDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- 个人中心 -->
        <activity android:name=".activity.UserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>
        <!-- 修改密码 -->
        <activity android:name=".activity.ChangePassActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"/>

    </application>

</manifest>