<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.otitan.dclz">

    <!-- 网络请求 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 读取设备外部存储空间 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 相机 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 百度定位 -->
    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" />
    <!-- 获取运营商信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.READ_LOGS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".Myapplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar"
        tools:ignore="GoogleAppIndexingWarning">

        <!-- 高德定位 -->
        <service android:name="com.amap.api.location.APSService" />
        <!-- //开发者申请的key -->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="ad93ebf944fc64d26c66e0c855731712" />

        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait"> <!-- 限制此页面竖屏显示 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.otitan.dclz.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>


        <!-- 主页 -->
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 事件详情 -->
        <activity
            android:name=".activity.MonitorDetailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 个人中心 -->
        <activity
            android:name=".activity.UserActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 修改密码 -->
        <activity
            android:name=".activity.ChangePassActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 导航 -->
        <activity
            android:name=".activity.NavigationActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />
        <!-- 百度导航 -->
        <activity
            android:name=".activity.BNaviGuideActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize" />

        <activity android:name=".activity.QueryEventActivity" />
        <activity android:name=".activity.WeeklyDetailActivity" />
        <activity android:name=".activity.PdfActivity" />
        <activity android:name=".activity.DocActivity" />
        <activity android:name=".activity.GdnavigationActivity"/>

        <!--高德导航-->
        <activity
            android:name="com.amap.api.navi.AmapRouteActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

    </application>

</manifest>